.row
  = form_for wiki do |f|
    .row
      = f.label :title
      = f.text_field :title, placeholder: "The Wiki Title"
    .row
      = f.label :body
      = f.text_area :body, placeholder: "The wiki content goes here."
    - if User.find(wiki.user_id).admin? || User.find(wiki.user_id).premium?
      .row
        = f.label :private
        = f.check_box :private
    .row
      = f.submit "Save", class: "button info"
      = link_to "Cancel", wikis_path, class: "button"
