.row
  .row
    %h1
      = @wiki.title
  .row
    = markdowner(@wiki.body).html_safe
  .row
    .small-2.columns
      %h5
        - if @wiki.private
          Private Wiki
        - else
          Public Wiki
    .small-10.columns
      %h5 Author: #{@wiki.user.email}
  .row
    = link_to 'Back', wikis_path, class: "button"
    - if current_user && policy(@wiki).edit?
      = link_to 'Edit', edit_wiki_path(@wiki), class: "button info"
    - if current_user && policy(@wiki).destroy?
      = link_to 'Delete', @wiki, method: :delete, class: "button alert", data: {confirm: "are you sure? delete is forever"}
